{% extends 'base.html' %}
{% block content %}
<h2>Edit Comment</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="comment_text">Edit your comment:</label>
        <textarea name="comment_text" id="comment_text" class="form-control" rows="3" required>{{ comment.text }}</textarea>
    </div>
<button type="submit" class="btn btn-primary mt-2">
    <i class="fas fa-save"></i> Save Changes
</button>
</form>

{% if project_id %}
    <a href="{% url 'project_details' project_id %}?period={{ period }}" class="btn btn-secondary mt-4">Cancel</a>
{% else %}
    <a href="/dashboard/" class="btn btn-secondary mt-4"><i class="fas fa-times"></i> Cancel</a>
{% endif %}
{% endblock %}
